.socials {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: $space-lg;
  align-items: center;
  width: 42px;

  & > * {
    padding: $space-sm 0;
  }
}

.fa-2x {
  font-size: 1.5rem;
}
