.socials {
  display: flex;
    flex-direction: column;
      justify-content: flex-end;
      align-items: center;
  position: absolute;
    bottom: 0;
  width: 100%;
  padding-bottom: $space-lg;



  & > * {
    padding: $space-sm 0;
  }
}

.fa-2x {
  font-size: 1.5rem;
}
