---
title: Case Study Template
---

<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="container">

      <main class="page-content" aria-labrl="Content">
        <div class="wrapper">

          <div class="case-study">
            <h1>{{page.title}}</h1>
            <h4>{{page.subtitle}}</h4>
            <div class="case-study__summary">

              <div class="case-study__summary-intro">
                <h3>About</h3>
                {{ content }}
              </div>
              <div class="case-study__summary-skills">
                <h3>Responsabilities</h3>
                {{ page.skills }}
              </div>
            </div>

          </div>

            <div class="case-study__header" style="background-image: url({{site.baseurl}}/assets/images/{{ page.image }}.png)">

            </div>
        </div>

      </main>
    </div>
    <!-- {% include footer.html %} -->

  </body>
</html>
