---
title: Case Study Template
---

<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="container">

      <main class="page-content" aria-labrl="Content">
        <div class="study-header" style="background-image: url({{site.baseurl}}/assets/images/{{ page.image}}.png)">

        </div>
        <div class="wrapper">
          <div class="study-summary">

          </div>

            {{ content }}
        </div>

      </main>
    </div>
    <!-- {% include footer.html %} -->

  </body>
</html>
