---
title: Home
---
<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="right-bar">
      <div class="nav-logo">
        <a class="site-title" rel="author" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 87 66">
              <defs><style>.cls-1{fill:#231f20;}</style></defs>
              <title>PersonalLogo</title>
              <g id="Layer_2" data-name="Layer 2">
                <g id="Layer_1-2" data-name="Layer 1">
                  <path class="cls-1 logo-1" width="17.47" height="53.77" d="M0 12.23 L17.47 12.23 L17.47 66 L0 66 Z" style="stroke-dasharray: 143, 145; stroke-dashoffset: 0;"></path>
                  <path class="cls-1 logo-2" width="17.47" height="53.77" d="M32.34 12.23 L49.81 12.23 L49.81 66 L32.34 66 Z" style="stroke-dasharray: 143, 145; stroke-dashoffset: 0;"></path>
                  <path class="cls-1 logo-3" d="M63.43,0L87,0L87,45.26L63.43,0Z" style="stroke-dasharray: 120, 122; stroke-dashoffset: 0;"></path>
                  <path class="cls-1 logo-4" d="M86,66L62.43,66L62.43,20.75L86,66Z" style="stroke-dasharray: 120, 122; stroke-dashoffset: 0;"></path>
                </g>
              </g>
            </svg>
        </a>
      </div>
      <div class="socials">
        <a href="https://www.dribbble.com/tikonelson"><i class="fab fa-dribbble fa-2x"></i></a>
        <a href="https://www.github.com/blksheep93"><i class="fab fa-github fa-2x"></i></a>
        <a href="https://codepen.io/Blksheep93/"><i class="fab fa-codepen fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/tikonelson"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
    </div>


    <div class="container">
      {% include header.html %}
      <main class="page-content" aria-labrl="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
    </div>
    <!-- {% include footer.html %} -->

  </body>
</html>
