---
layout: default
permalink: /
---

<div class="home">
  <div class="intro-info u-ta-c">
    <div>
      <h1 class="u-m-b-n">Tiko Nelson</h1>
      <h5>UX/UI Designer & Front-End Developer</h5>
    </div>

  </div>

  <div class="post-feed">
    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}

      <section id="feed">
        <ul class="card-list feed-front">
          {%- for post in site.posts limit:4 -%}
          <li class="card">
            <a href="{{ post.url | relative_url }}" class="card-link">

              <div class="card-photo">
                <div class="overlay-wrapper">
                  <div class="card-body">

                    <h3 class="card-title u-m-n-t u-m-b-md">
                        {{ post.title | escape }}
                    </h3>

                    <div class="card-tags">
                        {%- for cat in post.categories -%}
                          <span class="card-tag">{{cat}}</span>
                        {%- endfor -%}
                    </div>


                  </div>
                </div>

                {%- if post.image -%}
                  <img src="assets/images/{{post.image}}.png" />
                {%- endif -%}
              </div>


            </a>

            <!-- <div class="card-footer">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <span class="card-meta u-f">
                <h5 class="u-m-n-b">
                  <i class="far fa-clock u-p-xs-r"></i>{{post.date | date: date_format }}
                </h5>
              </span>
            </div> -->
          </li>
          {%- endfor -%}
        </ul>
      </section>

      <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
    {%- endif -%}
  </div>
  <!-- Loader Script -->
  <script type="text/javascript" src="/assets/js/loader.js"></script>
</div>
