/**
 * Basic styling
 */
body {
  font: 300 18px/1.5 "Roboto",
  "Montserrat",
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
   "Segoe UI Symbol";

  color: #2d2d2d;
  background-color: $bg-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  min-height: 100vh;
}

.intro {
  &-info {
    height: 100vh;
    display: flex;
    position: relative;

    * {
       width: 100%;
     }
  }

  &-left {
    margin: auto 30px auto 0px;

    .hero-title {
      animation-duration: 2s;
      animation-name: fadeInUp;
      will-change: opacity, transform;
      animation-delay: .1s;
      animation-fill-mode: both;
      animation-timing-function: cubic-bezier(0.2,0.8,0.2,1);
    }

    .hero-subtitle {
      animation-duration: 2s;
      animation-name: fadeInUp;
      will-change: opacity, transform;
      animation-delay: .2s;
      animation-fill-mode: both;
      animation-timing-function: cubic-bezier(0.2,0.8,0.2,1);
    }

    .hero-btn {
      animation-duration: 2s;
      animation-name: fadeInUp;
      will-change: opacity, transform;
      animation-delay: .3s;
      animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
      animation-fill-mode: both;
    }
  }

  &-right {
    margin: auto 0;
  }

}

.about {
  margin: 5% 0 5%;


  &__header {
    font-size: 40px;
  }

  &__summary{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 120px;


    &-skills{
      width: 20%;
    }

    & h3 {
      margin-top: 0px;
    }
  }

  &__social {
    min-width: 20%;
    & ul {
      list-style: none;

      & li > a > *{
        display: inline-block;
      }

      & li > i {
        padding-right: $space-md;
      }
    }
  }

  &__content {
    max-width: 600px;
  }
}




.post-feed {
  width: 100%;
}

/**
 * Wrapper
 */

 .wrapper {
   height: 100%;
 }

.wrapper{
  max-width: -webkit-calc(100vw - (#{$space-xxl} * 2));
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: $space-lg;
  padding-left: $space-lg;
  width: 100%;
}



  @media screen and (max-width: 900px) {
    .wrapper {
      max-width: -webkit-calc(800px - (#{$space-xxl} ));
      max-width: calc(900px - (#{$space-xxl} ));
      padding-right: #{$space-md} ;
      padding-left: #{$space-md} ; }
    }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }
